<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p> <a href='<%= url %>'>Login google</a></p>

    <h2>API routes</h2>
    <p><a>/api/auth/google/callback</a> <br>
      Method:GET<br>
      Parameters:
      <ul>
        <li>"code"-One time code to login with google</li>
      </ul></p>

    <p><a>/api/auth/refreshaccesstoken</a> <br>
        Method:GET<br>
        Parameters:
        <ul>
          <li>"refresh_token"-your refresh token</li>
        </ul>
    </p>
    <p><a>/api/dish</a> <br>
        Method:POST<br>
        Parameters:
        <ul>
          <li>"name"</li>
          <li>"recipe"</li>
          <li>"ingredient"-one or more</li>
        </ul>
    </p>
    <p><a>/api/dish/:id</a> <br>
        Method:GET<br>
    </p>

    <p><a>/api/dish/:id</a> <br>
        Method:PUT<br>
        Parameters:
        <ul>
          <li>"name"</li>
          <li>"recipe"</li>
          <li>"ingredient"-one or more</li>
        </ul>
    </p>
    <p><a>/api/dish/:id</a> <br>
        Method:DELETE<br>
    </p>
    <p><a>/api/ingredient</a> <br>
        Method:POST<br>
        Parameters:
        <ul>
          <li>"name"</li>
        </ul>
    </p>
    <p><a>/api/ingredient/:id</a> <br>
        Method:GET<br>
    </p>
    <p><a>/api/ingredient/name/:name</a> <br>
        Method:POST<br>
    </p>
    <p><a>/api/search/simple</a> <br>
        Method:GET<br>
        Parameters:
        <ul>
          <li>"name"</li>
          <li>"recipe"</li>
          <li>"ingredient"-one or more</li>
        </ul>
    </p>
    <p><a>/api/user/:id</a> <br>
        Method:GET<br>
    </p>
    <p><a>/api/search/simple</a> <br>
        Method:PUT<br>
        Parameters:
        <ul>
          <li>"name"</li>
          <li>"email"</li>
          <li>"picture"-picture url</li>
        </ul>
    </p>
    <p><a>/api/user/:id</a> <br>
        Method:GET<br>
        Get dishes of user
    </p>
  </body>
</html>
